* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* centre elements in body */
}

.container,
.square {
    border: 1px solid black;
}

.container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap; /* wraps squares to next lines */
    justify-content: center; /* centralise the grid within container */
    align-content: flex-end; /* only valid when flex-wrap is active, similar to align-items */
}

.square.filled {
    background-color: black;
}

button {
    padding: 15px;
}